.add-products{
    flex:4
}

.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    border-top: 1px solid #39a50f;
}

.add-title{
    font-size: 18px;
    font-family: sans-serif;
    margin: 20px;
    font-weight: 600;
}

.left{
    margin: 10px;
    
}

.inputForm{
    width: 400px;
    height: 40px;
    outline:none ;
    margin:10px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #17eb57;
}

.rigth{
    margin:10px
}

label{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
}

.btn-add{
    position: relative;
    top:200px;
    right: 890px;
    height: 45px;
    background: #2fe967;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #29ee44;
    color:#000;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}

span{
    color:red
}