.widgetorders{
    display: flex;
    align-items: center;
}

.widgetorders-icon{
    margin: 20px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: rgba(38, 255, 9, 0.555);
}