.widgetpoduct{
    display: flex;
    align-items: center;
}

.widgetpoduct-icon{
    margin: 20px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: rgba(245, 248, 32, 0.452);
}